#nav {
    width: 70%;
    text-align: center;
    background-color: white;
    list-style: none;
    text-decoration: none;
    height: 120px;
}
#nav ul {
    margin: 0;
    padding: 0;
    

}
#nav ul li {
    display: -webkit-inline-box;
    padding: 0 10px;

}

div{
    margin-left: 20%;
    width: 100%;
    height: 100%;
}


img{
    width: 7%;
    margin-top: 2%;
    float: left;
    margin-left: 5%;
    
}
a{
    width: 100%;
}

