#rojo{
    color: red;
}

#contenedor{
    margin-top: 5%;
    width: 50%;
    text-align: center;
    background-color: white;
    list-style: none;
    text-decoration: none;
    height: 500px;
    margin-left: 20%;
    padding: 5%;
}